include LICENSE README.md feedpapers/journals.csv feedpapers/keywords.csv
exclude MANIFEST.in
exclude README_footer.md README_header.md
exclude log.csv build_dashboard.py
exclude .travis.yml
exclude scratch
